<title>My Application</title>
<h1>Hello, World!</h1>
<p>In the first form enter a list of integers seperated by a newline character.<\p>
<p>In the second form, enter another integer.<\p>
<p>In the third form, enter lower bound integer.<\p>
<p>In the fourth form, enter high bound integer.<\p>
<p>If your integer is between boundaries, we will calculate that your integer is in your list how many times.<\p>
Result is {{result}}

<form action="compute" method="post">
    <textarea name="input1" rows="10" cols="15"></textarea>
    <textarea name="input2" rows="10" cols="7"></textarea>
    <textarea name="input3" rows="10" cols="7"></textarea>
    <textarea name="input4" rows="10" cols="7"></textarea>
    <br>
    <input type="submit">
</form>